@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-image: linear-gradient(to right,rgb(253, 250, 250), rgba(7, 8, 8, 0.349));
}