@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-color: rgba(71, 69, 69, 0.171);
    text-transform: capitalize;
}
ul li{
   
    text-transform: capitalize;
    font-size: 25px;
}


