@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-image: linear-gradient(to right,rgb(5, 0, 0), rgba(238, 238, 235, 0.945));
    background-repeat: no-repeat;
    height: 100vh;
}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1%;
}
header h1{
    color:white;
    font-size: 40px;
    text-transform: capitalize;
}
.flex-container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    margin :0 35%;
    background: rgba(0,0,0,0.2);
        border-radius: 5px;
    box-shadow: 4px 5px 4px black;
}

input{
    background-color: white;
    height: 40px;
    width: 400px;
    border-radius: 5px;
    margin: 4px;
}
input[type="checkbox"]{
    background-color: blue;;
}
.check{
    display: flex;
    flex-direction: column;
}